<div class='notification-slider' ng-if='open' ng-mouseenter='enter()' ng-mouseleave='leave()'>
  <div class='notification-message'>
    <h4>
      <i class='fa fa-exclamation-triangle' style='margin-right: 6px;'></i>{{ message }}
    </h4>
  </div>

  <div class='btn-group btn-group-justified btn-block'>
    <a type='button' class='btn btn-block btn-danger' ng-click='close()'>Close<i class='fa fa-times-circle-o'></i></a>
    <a type='button' class='btn btn-block btn-danger' href='/ui/status/?severity__in=WARNING,ERROR&active=true'>Details<i class='fa fa-arrow-circle-o-right'></i></a>
  </div>
</div>
