<div config-toggle>
  <h5>CPU Usage</h5>
  <div class="controls" ng-if="configToggle.inactive()">
    <button class="btn btn-xs btn-primary" ng-click="configToggle.setActive()">Configure <i class="fa fa-cog"></i></button>
    <a full-screen-btn class="btn btn-primary btn-xs"></a>
    <a class="drag btn btn-xs btn-default">Drag <i class="fa fa-arrows"></i></a>
  </div>
  <div class="configuration" ng-if="configToggle.active()">
    <div class="well well-lg">
      <form name="cpuUsageForm">
        <duration-picker start-unit="{{ chart.unit }}" start-size="{{ chart.size }}"></duration-picker>
        <button type="submit" ng-click="::configToggle.setInactive(chart.onSubmit(cpuUsageForm))" class="btn btn-success btn-block" ng-disabled="cpuUsageForm.$invalid">Update</button>
        <button ng-click="::configToggle.setInactive()" class="btn btn-cancel btn-block">Cancel</button>
      </form>
    </div>
  </div>
  <line-chart options="::chart.options" stream="chart.stream"></line-chart>
</div>
