<div class="container container-full dashboard-container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-block btn-sm btn-primary configure-dashboard" ng-if="!dashboard.configure" ng-click="dashboard.onConfigure()">Configure Dashboard<i class="fa fa-cog"></i></button>

      <div class="well well-lg configure-dashboard-well" ng-if="dashboard.configure">
        <form name="form">
          <div class="form-group">
            <label>Choose Type
              <span class="tooltip-container tooltip-hover">
                <a><i class="fa fa-question-circle"></i></a>
                <help-tooltip topic="dashboard_filter_type" direction="right" size="'medium'"></help-tooltip>
              </span>
            </label>
            <div class="btn-group btn-group-justified">
              <div class="btn-group">
                <button type="button" class="btn btn-primary" ng-model="dashboard.type" uib-btn-radio="dashboard.fs" ng-click="dashboard.itemChanged(dashboard.fs)">File System</button>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-primary" ng-model="dashboard.type" uib-btn-radio="dashboard.host" ng-click="dashboard.itemChanged(dashboard.host)">Server</button>
              </div>
            </div>
          </div>

          <div ng-if="dashboard.type === dashboard.fs">
            <div class="form-group">
              <label>File System
                <span class="tooltip-container tooltip-hover">
                  <a><i class="fa fa-question-circle"></i></a>
                  <help-tooltip topic="dashboard_filter_fs" direction="right" size="'large'"></help-tooltip>
                </span>
              </label>
              <select class="form-control"
                      ng-model="dashboard.fs.selected"
                      ng-options="item.label for item in dashboard.fileSystems track by item.id"
                      ng-change="dashboard.itemChanged(dashboard.fs)">
                <option value="">All File Systems</option>
              </select>
            </div>
          </div>

          <div ng-if="dashboard.type === dashboard.host">
            <div class="form-group">
              <label>Server
                <span class="tooltip-container tooltip-hover">
                  <a><i class="fa fa-question-circle"></i></a>
                  <help-tooltip topic="dashboard_filter_server" direction="right" size="'large'"></help-tooltip>
                </span>
              </label>
              <select class="form-control"
                      ng-model="dashboard.host.selected"
                      ng-options="item.label for item in dashboard.hosts track by item.id"
                      ng-change="dashboard.itemChanged(dashboard.host)">
                <option value="">All Servers</option>
              </select>
            </div>
          </div>

          <div class="form-group" ng-if="dashboard.targets.length">
            <label>Target
              <span class="tooltip-container tooltip-hover">
                <a><i class="fa fa-question-circle"></i></a>
                <help-tooltip topic="dashboard_filter_target" direction="right" size="'medium'"></help-tooltip>
              </span>
            </label>
            <select
              class="form-control"
              ng-model="dashboard.type.selectedTarget"
              ng-options="target.label for target in dashboard.targets track by target.id">
              <option value="">All Targets</option>
            </select>
          </div>
          <button type="submit" ng-click="dashboard.onFilterView(dashboard.type)" class="btn btn-success btn-block">Update</button>
          <button ng-click="dashboard.onCancel()" class="btn btn-cancel btn-block">Cancel</button>
        </form>
      </div>
    </div>
  </div>
  <ui-loader-view class="section-top-margin"></ui-loader-view>
</div>
