tree-server-collection,
tree-volume-collection,
tree-fs-collection,
tree-ost-collection,
tree-mgt-collection,
tree-mdt-collection {
  > div {
    display: inline-block;
  }
}

tree-server-collection,
tree-volume-collection,
tree-fs-collection,
tree-ost-collection,
tree-mgt-collection,
tree-mdt-collection,
tree-server-item,
tree-fs-item,
tree-volume-item,
tree-target-item {
  display: block;
  margin-left: 10px;
  margin-top: 5px;

  .fa-chevron-right {
    color: @gray-light;
    transition: transform .1s ease-in-out;
    cursor: pointer;
  }

  .children {
    .transition-height-scale();
  }

  .dashboard-link {
    padding-left: 5px;
  }

  .pager {
    margin: 5px 0 0 10px;

    a,
    .disabled>a,
    .disabled>a:hover,
    .disabled>a:focus {
      background-color: transparent;
      border: 0;
    }
  }
}
