.select-server-profile-step {
  padding: 0;

  .alert {
    .transition-height(90px);
  }

  i.fa-question-circle {
    margin-left: 10px;
    color: @brand-primary;
  }

  .statuses {
    .transition-height(120px);

    .filterServerForm {
      margin-top: 20px;
    }

    .popover-content {
      width: 250px;
    }
  }

  .popover {
    width: 350px;
  }

  .status-cell {
    &.deployed {
      background-color: @gray-light;
      border: 1px solid darken(@gray-light, 10%);

      &:hover {
        background-color: lighten(@gray-light, 10%);
      }
    }
  }
}
