.server-detail-ctrl {
  table {
    margin-bottom: 0;

    tr:first-child {
      th, td {
        border-top: 0;
      }
    }
  }

  .well.text-center {
    color: @gray-light;
    margin: 10px;
  }

}
