<div class="action-dropdown">
  <button ng-if="ctrl.locks || ctrl.confirmOpen" disabled class="btn btn-primary btn-sm">Disabled</button>
  <button ng-if="ctrl.receivedData && ctrl.records.length === 0" disabled class="btn btn-primary btn-sm">No Actions</button>
  <div ng-if="!ctrl.locks && !ctrl.confirmOpen" class="btn-group" uib-dropdown>
    <button ng-if="!ctrl.receivedData || ctrl.records.length > 0" class="btn btn-primary btn-sm" uib-dropdown-toggle>
      Actions<i class="fa fa-caret-down"></i>
    </button>
    <ul uib-dropdown-menu class="uib-dropdown-menu" role="menu">
      <li class="dropdown-header" ng-repeat-start="record in ctrl.records track by record.label">
        {{ ::record.label }}
      </li>
      <li class="tooltip-container tooltip-hover" ng-class="{ 'end-of-group': action.last }" ng-repeat="action in record[ctrl.actionsProperty] | groupActions track by action.verb">
        <a ng-click="::ctrl.handleAction(record, action)">
           {{ ::action.verb }}
        </a>
        <iml-tooltip size="'large'" direction="{{::ctrl.tooltipPlacement}}">
          <p ng-bind-html="ctrl.actionDescriptionCache(action.long_description)"></p>
        </iml-tooltip>
      </li>
      <li ng-repeat-end class="divider"></li>
    </ul>
  </div>
</div>
