{
  "ignore": [
    "node_modules/angular/angular.js"
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 1 chrome version",
            "last 1 firefox version"
          ]
        }
      }
    ]
  ],
  "plugins": [
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],
    "transform-async-to-generator",
    "transform-object-entries",
    "object-values-to-object-keys",
    "transform-flow-strip-types",
    "transform-class-properties",
    "transform-remove-strict-mode",
    "syntax-jsx",
    "inferno"
  ]
}
