.diagonal-stripes(@color, @darkenBy: 20%) {
  background: repeating-linear-gradient(45deg, @color, @color 10px, darken(@color, @darkenBy) 10px, darken(@color, @darkenBy) 20px );
}

.vertical-align(@alignment: 50%) {
  position: relative;
  top: @alignment;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.transition-height-scale(@time: 0.1s, @scale: 0) {
  transition: transform ease @time, opacity ease @time;

  &.ng-enter,
  &.ng-leave.ng-leave-active {
    position: relative;
    opacity: 0;
    transform: scaleY(@scale);
    overflow: hidden;
  }

  &.ng-leave,
  &.ng-enter.ng-enter-active {
    position: relative;
    opacity: 1;
    transform: scaleY(1);
    overflow: hidden;
  }
}

.transition-height(@height, @time: 0.1s) {
  transition: all linear @time;

  &.ng-enter,
  &.ng-leave.ng-leave-active {
    opacity: 0;
    height: 0;
    overflow: hidden;
  }

  &.ng-leave,
  &.ng-enter.ng-enter-active {
    opacity: 1;
    height: @height;
    overflow: hidden;
  }
}

.transition-fade(@time: 0.5s, @new_opacity: 0) {
  -webkit-transition: all linear @time;
  transition: all linear @time;
  opacity: @new_opacity;
}

.user-select(@value: none) {
  -webkit-user-select: @value;
  -moz-user-select: @value;
  -ms-user-select: @value;
  user-select: @value;
}

.view-loader(@color: #0067B4, @duration: 3s, @top: 50px, @left: 48%) {
  content: '\f1ce';
  opacity: 0;
  display: none;
  font-size: 3em;
  font-family: FontAwesome;
  animation: fa-spin @duration infinite ease-in-out;
  transition:opacity .1s ease-in-out;
  color: @color;
  margin: @top 0 0 @left;
}

.logo-fill(@fill-new){
  @logo: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='64px' height='64px' viewBox='0 0 64 64' enable-background='new 0 0 64 64' xml:space='preserve'%3E%3Cimage id='image0' width='64' height='64' x='0' y='0' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABGdBTUEAALGPC/xhBQAAACBjSFJN%0AAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QA/wD/AP+gvaeTAAAO%0A9UlEQVR42u1ba3Rc1Xnd53HvnblzZyTLhpTaBpdHamwIWbVpAUfSjDR62RYUEhswSRraQtJCWQlk%0AAYEVUNIWQlLaFaBNTVq6ksKiESGpI9BjNE/ZuNCaNAmFQimBtqa8bEua532cR3/IIoYYeySPRLLq%0AvZZ+aN3z7e/sPd+dc+757gDHcRz/r0EWivj80dEWx6EhIi2mGCOKUslLpalUT0/laLHxXG41oXqN%0ADsRKrdCilOKU0wql5HWAvaQJ+XE+kZj6hTMgkc2uJYxs0YHcpLQ8BUBIU0qJ1oRorUDYPmrSnUqT%0AMe6Lx9JdXdOzsR27M8tVQC+Dwkchg3OZbXPCGAD9s6lqDRUEkFL+LyX0u1rpb+YTiX973w2Ip1Lr%0AqWnepJS4iDuOoXwfUAqg5O2Ja6VACEBNCyCA9Nz/0YH8KiEsp7W8nBDyh9xxlijfh5IS1DRBKH1n%0AIq0hPQ/QGswOI6h6PtX6m6JW+9LOjRvfel8MiOfGBygzbqWWyWXNBTVNAIAolwKi6X4N6YMZHEot%0AYeFQmJoGpOvNJKcU0nUVdxyqXBeEMVDTRFAuFzV0jhL2CrRyIbXWBjGJxola63ZuR1bOmmFEHfiV%0A6n9D+J8qJHtzi2bAuj17DKc8/aDpRLcGxSJYKAThuj5AHiNEDyqqfmhGWt6cfO21YPkZS1j5Va9F%0AMv1BCprUUm3lEXuVqFRmqkNrgDEJkGcZp/cqidF8IrH3cHk37NoVNaXfBaWupqbVo4IAhDGAEKHc%0A2ifyyZ5/WBQDEpn0IG+KbQmmpsAdB9J1RylVN2Xakj85Wmzfk0/GXLd6OzXN62WtBsIotFCvlZqX%0AnP70+vXVuudQyG7TIPcwzpeqIIAiVGnP75/o7h5eUAPaU6N3mS0tN/qTkzCamiAr1b/MJTqunStP%0APDN+M4tE7pTlMqhlaeX71+U7u+6bC0drengNN6wdlJunayEgtS5S5V+Q6+h9dkEMSGRTncQMpZXn%0AgUejCIqlBwrJrt+bj5EA0JoZu99yYlfJWg1KyqIyrNU729pemwtH29jYrxHL2MkoXU44hyhVnjlx%0AxYr1j6xd6x8tltaTYBbrtm83lMA9hJCZe748nS4ku35/vuIBoFr1P+tVii8RSmHGYjHmuzfMlWOi%0Ap+dlCP9yBUhZrcJsaTr7rddf3VZP7JwMiH7wtN81m2NrpOdBBH4RRF2Fny3U88LT/f1VIult1DQh%0Aq1UoqS/rGx625spTSPbu1J63nUejkJ4P5ctrGmrAlsFBUwv/Bul50FJC+YEFmIMdE/lMopC9+lhM%0A2D85+V1vuvQSCIERCS+vWqxjPjwswu8IKpWiFgIsZK6P53IfbpgBby5tvog7TWfIWg3QGpQQi3J+%0ALuG8g0ci29vz2Uc37NgRnc/En9261WccD1LLBDENEEXnZUD2gs5XIWWWWhZYJAIosalhBgD4GCEz%0AuzpmWTCi0Zn1V2v4k1MwI5FLjFgs0zo6etJ8Jq8U/YmWCloqADh9PhwAoJnxfQDQUkIH8jcbZ4DE%0ACsI5zJYlkL54QZTLn1WV8sdEzX2AOw6C6Wlw2zrXCBuZ+MjIqnk4sE8LMbPd1bJ5vgZA671aBLNb%0A8WVHG87r5SWUfhsUq0SxWpCh0DW7WlsnD156NJHP/ieLRO4QlSpYOHym1iTTNjTUO9Hf/2K9/AZj%0ALwSe54WXNFt+tSLmrV9KqSUBoawufXVXQD6Z3F701Zm5eMe2Q8QDAHLxjjtVrXYNs0wo1wU3zVNJ%0AkzO+YWTk1+vlzySTbxDG7tKBeIMS8sB8DWCEyJ8tTPqo+5w5LYNPnXde8b2u5TqSfyVrtU8RSrXy%0AfXBunGKGrPH42NjqevkLHcnb3/yvZ1YXOrsfnq8Bkkpfq1kD5FGX6DkZcDTkkz3fkp57KaFUqMAH%0AtYyVJMTHW4eH19TL8aOLr5w6ljlQkKXUMA7+xxpbAfWg0N33iKx5l2hCPRUIUG6u4I49NhcTjgkS%0AnyOMQdZqoIZxVryQ+eN127cb7zV8wY7EWsdHeqgZ/h4jsAljkEK8ygLZnUkmn1uonIls6kIasneI%0AysypG6EURiwGWantFl7x4xM9F768aAYAQNvYcAcLWTsIYQ5hDEKIV1VQ696Z3NhwE84fHW0JhfjT%0AhPJVSggQSkE4h/I88EgE0qvtRbG6Odff/+ND4xp+CxyKiZ6NWRUEGxUwrZUC53w5M8KptvHxMxuZ%0AZ+3goGmZ/DssZK/SUgJa14jUPdL3rtfMUNJ1Qbm5AjF79N0r04JWwCzaxsYu4JbxGBhbQihtaCW0%0ADg+fwMLWQ9wOd4lyBSxiQ1TcbYXOzocBoD0z1s+Y8R0NhKllQla957lS580eyC5oBcxioqdnt/aC%0APqX0fq3125VwrF+MiWzqQmrbT7JQqEuUKzBiUYhy5bZZ8QBQ6OwZ0oG/RVMqZbUGozm6OiC4Y/b6%0AolTALOK51HrKzBFQuowQAiX8vbJU657YvPnf58KzbmjIdsKhv+B2+GotBLRSYKEQpFu9PRdPfvlw%0AMe2p1PVGzLlbVCsgGoHkeu1Ee/eLx1wBfcPDsXrH5hPde5Rb6dNK7dNagxrmChaxx9qGhs6YS04n%0AbN0U/tWTrpauCxqyoAg9EFTKn3wv8QBQ6O7+c780vYdZFljUMUiAzwDHeAvEx8dv9pe1PB/PZe8b%0A0Lournz3pj3arfQpKfdrqUAtcyWJRkYvyDx+Sr15qcLT3v79PjVNSNf7O+0W1xc6u//+aHHEMG6U%0AUklZrQFK/0E8N7xi/reA1qQ1nXox3NJymtYafrn8A6LJpflEwq0nvD2dPpdyOkYYW0I4h/Dc54im%0A7flEYl898W3jj5/NrHAs19bxxFym3T46/B/Mts8AIVBCJeZfAYRoRsiAEgGCqSmYkciFmugd64aG%0A7HrCC8nkvyjhbZJSF3XgwwjbayCDR9bt2WPUEz/RtemZuYoHADD+MuF8pusk/WVHNOD04XuOeDaX%0AT3Y/GJTKd/JYFP7kJEzb7o459g+6x8Yi9ZnQ909w3d+WilRFpQJzyZK4MzX1+Xl/KHVAQe0nlAKE%0AQGltH9aAeO77ze2F7KMrm9c9l8hmtx5ZRPctYrr8j0ZTE/zJSfBIpNM3zaF6j8cKvb05Fbg3McuC%0AcGuAUh/HwMDCLc9aveMW/blE8ccf/xVNmjKmHbnEijmnaqgrj0rK3auCSukNaoUOmhBOmDFn5PzB%0AwZZ65hSI2mPSdQGlQQjMLWvWLNjyzEBmNGsNomntHQa0jo6eRCKhcSMU+g1ZraK2/0AFRH3haKT5%0ARP8+onA7C1sAIQgmJ8Fse4N54gnZRDa77kixHZnMaWYo+mfU4KCGAaXxwiNbt8qFMkAzFgMOdqsp%0AnXz7yKh1dPQkHjZS1AqfJV0XilBFAu+yfLLnR/VZa3wrmJq6hYbCJyvPQzA1BR51zlG+tyuey3yd%0AaPJwyHWfn2pupiHlngxfngWQi5WWFxmW7YhKBTQUAjXo3yyU+AGtaXo8dSYTEsrzIEHfJAAQzw0t%0A04ikjXDoHFmrAYwp6bmXT3T1Ds4lQXs69XXDca4LikXwqAMdCCghwG0bQakEpfASGBjTegWzI/xg%0AexzE4DCiMbhvvvW9Qlf3RxfKgEQ2u4EwsksDEK6736L8NN6/Z8guTlmPmtHwOaJWg6JMEd/bNlfx%0AM1BlUApopUWp8hVCkeDR2HlQCsyywCg9bWaYmhnOGAhjUG6wJxAHvm0H4v6FEg8AMgg+Z9gOKAiU%0ACArpzq5pXinbvxM6cWlbMDUFwphAzduW7+55ZK7k8VzO0cL/hAp8gLJaecnS20/96U+/eMAIXaYQ%0AbFGKrCeu+wFFiATFPqLYS1TKJ6gSI/lkcudCCgeARCq1gVjGJbJSBQuFwDX9awDgkHjanZwqMkqU%0ACLwr5tJbPxRE6428KbZSBwLQ5JVTw2Fy8MvsIQAP9T05HBM08gHPdYUMR/Y98ZGPlBZa9CzWPjto%0Aqtf1NxhjhM10j/+10NOTBgCe7ez857bU0HoleTDR1/fKfJMQrffKai3gjmNQz9v+7tb0yHkbiwCK%0A86Q/JpzwRsv93ImcLUolMNsGZewLIEQDDX4cbh0Z+RAxTWeis3P3+yH03Yjnch8GpV9mBuuX1SqM%0A5mZ405MDE509X5ods6jnAYuFzon0h6RkV0LLT3PbDotqFUY0ClGcujfX2XPdoWN/6Qw4f3S0JWwb%0ApytPUS0EUUybjJpRELUMoKsB2aZBf8uIRKisVkFDIWgphfL9L+Y7u77ybr5fKgOS6fSpkiBDTGPm%0A8BMACJl5vY4xgBJoMbP3oObMc5wOggklg5vyia4nD8dZd3N0FvFc+lLDcbYG5dqt+UTi+UYKbB0f%0AvciMNW2WVffuw3ELrU+2Tli6SroetDikf0pmP8eZFzO1kFNau3mAPZCNx4eOlHNOBnRkxv+EhsO3%0A8lgMfnHaBXBFo8THM+PXUsu612xqQqVcPANA/OfGJJMT+XT6j4jBNmkhm0EIg9YSWtW0Vvupab2M%0AwH8K3HoiG0+8Xk/eug2I5zL3Mse5VpTKILwMrckPGyW+PZ26kdn2XbJWg6xUQDV55XDjBghRAO47%0A+NcQ1PXcHc+m7zMc51pRLoE7EQRTU3dPJLvvbsQEEqnULYbj3CWrVfBIBP50aVfYiV137MwNMqA9%0APf5VI+pcM/O0FoZfLN6WT3Y35NQmPj52K2ty/lSUy7Nvmz4FQvpHjtCGbzSOuArEM6nPcCf6DSUC%0AKCElAv/T+WTP3zZG/PjNPBa5U5TK4NEoZK2yxzRFz9gFvQcWS/wRDejIDC1XCO01W1rgTZcOENe9%0AIt/bO9oY8WOf59Ho10SlDO7MiNcl1pfvr+9EuJF4zy9B3yRV7qm0LJaX6aDyyULvpmcaIj6duoZF%0AIl8Tlcoh4mt9+f7+RRcP1LMRGhigGBhQjUjWPj5+JbdDD8jZlrXrPkUDuSmTTO5/P8TXZ0CD0J4a%0A2cLC9qAWAiwSQVCt7pasunlX6+bJY2efPxalO9w2NtZBTeshLSVYJAJZqxSMYN/G91s8sAgVkBgd%0AXatCxm7GeIxaFkSlMm764uJ6fj22GFjwClAh3mLakZgRi8GvlHeEa17/L4r4RUMilbqwc2fhhgXt%0A+BzHcRzHccwD/wfdASNA0yrvyQAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOC0wNi0xNVQxMTowNToy%0ANi0wNzowMG/Sft0AAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTgtMDYtMTVUMTE6MDU6MjYtMDc6MDAe%0Aj8ZhAAAAAElFTkSuQmCC' /%3E%3C/svg%3E%0A");
  @replace-default: escape('<path ');
  @replace-new: escape('<path fill="@{fill-new}" ');
  @replace-src: replace("@{logo}", @replace-default, @replace-new, "g");
  background-image: e(@replace-src);
}
