.diagonal-stripes(@color, @darkenBy: 20%) {
  background: repeating-linear-gradient(45deg, @color, @color 10px, darken(@color, @darkenBy) 10px, darken(@color, @darkenBy) 20px );
}

.vertical-align(@alignment: 50%) {
  position: relative;
  top: @alignment;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.transition-height-scale(@time: 0.1s, @scale: 0) {
  transition: transform ease @time, opacity ease @time;

  &.ng-enter,
  &.ng-leave.ng-leave-active {
    position: relative;
    opacity: 0;
    transform: scaleY(@scale);
    overflow: hidden;
  }

  &.ng-leave,
  &.ng-enter.ng-enter-active {
    position: relative;
    opacity: 1;
    transform: scaleY(1);
    overflow: hidden;
  }
}

.transition-height(@height, @time: 0.1s) {
  transition: all linear @time;

  &.ng-enter,
  &.ng-leave.ng-leave-active {
    opacity: 0;
    height: 0;
    overflow: hidden;
  }

  &.ng-leave,
  &.ng-enter.ng-enter-active {
    opacity: 1;
    height: @height;
    overflow: hidden;
  }
}

.transition-fade(@time: 0.5s, @new_opacity: 0) {
  -webkit-transition: all linear @time;
  transition: all linear @time;
  opacity: @new_opacity;
}

.user-select(@value: none) {
  -webkit-user-select: @value;
  -moz-user-select: @value;
  -ms-user-select: @value;
  user-select: @value;
}

.view-loader(@color: #0067B4, @duration: 3s, @top: 50px, @left: 48%) {
  content: '\f1ce';
  opacity: 0;
  display: none;
  font-size: 3em;
  font-family: FontAwesome;
  animation: fa-spin @duration infinite ease-in-out;
  transition:opacity .1s ease-in-out;
  color: @color;
  margin: @top 0 0 @left;
}
