.tooltip-container {
  position: relative;

  &.tooltip-hover:hover .tooltip.inferno-tt {
    display: block;
    opacity: .9;
    width: 150px;
  }
}

.has-error {
  > .tooltip.inferno-tt {
    display: block;
    opacity: .9;
  }
}

.tooltip.inferno-tt {
  &.right {
    left: 100%;
    bottom: 50%;
    transform: translateY(50%);
  }

  &.left {
    bottom: 50%;
    transform: translate(-100%, 50%);
  }

  &.bottom {
    transform: translateX(50%);
    right: 50%;
  }

  &.top {
    transform: translate(50%, -100%);
    top: 0;
    right: 50%;
  }
}

.tooltip {
  display: none;

  &.in {
    display: block;
  }
}
