.disconnect-modal {
  .modal-content {
    background-color: #f3b600;
  }

  .modal-body {
    height: 100px;
    -webkit-font-smoothing: antialiased;
  }

  &.fade.in {
    opacity: 0.95;
    filter: alpha(opacity=95);
  }

  h3 {
    text-align: center;
    color: #ffffff;
  }

  i {
    margin-left: 10px;
  }
}
