<div class="no-copytools well text-center" ng-if="hsm.copytools.length === 0">
  <h3>No Copytools are configured</h3>
  <button ng-click="hsm.openAddModal()" ng-disabled="hsm.modalOpen" class="btn btn-primary btn-lg">
    <i class="fa fa-plus-circle"></i>Add Copytool
  </button>
</div>

<div ng-if="hsm.copytools.length > 0">
  <h4 class="section-header">Outstanding Agent Requests vs. Idle Copytool Workers</h4>
  <agent-vs-copytool stream="hsm.stream"></agent-vs-copytool>

  <h4 class="section-header">Active Copytool Operations</h4>
  <div ng-if="hsm.copytoolOperations.length === 0" class="no-copytool-operations well text-center">
    <h5>No Active Copytool Operations.</h5>
  </div>

  <div ng-if="hsm.copytoolOperations.length > 0">
    <table class="table">
      <thead>
        <tr>
          <th>Copytool</th>
          <th>Operation</th>
          <th>Status</th>
          <th>Throughput</th>
          <th>File</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="copytoolOperation in hsm.copytoolOperations track by copytoolOperation.id">
          <td>{{ copytoolOperation.copytool.host.label }}</td>
          <td class="operation">
            <div ng-include="'iml/hsm/assets/html/ops/' + (copytoolOperation.type | lowercase) + '.html'"></div>
          </td>
          <td class="state">
            <div ng-include="'iml/hsm/assets/html/states/' + (copytoolOperation.state | lowercase) + '.html'"></div>
          </td>
          <td>
            <div class="throughput">
                <div class="size">{{ copytoolOperation.processed_bytes | fmtBytes }} / {{ copytoolOperation.total_bytes | fmtBytes }}</div>
                <div class="speed">{{ copytoolOperation.throughput | throughput }}</div>
            </div>
          </td>
          <td>
            <div class="current-file">
              {{ copytoolOperation.path | pathMaxLength:60 }}
              <i tooltip="{{ copytoolOperation.description }}" class="icon-info-sign"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <h4 class="section-header">Copytools</h4>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Archive</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    <tr ng-repeat="copytool in hsm.copytools track by copytool.id" ng-class="{ even: $even, odd: $odd }">
        <td>{{ copytool.host.label }}</td>
        <td>{{ copytool.archive }}</td>
        <td class="status">
          <div ng-include="'iml/hsm/assets/html/states/' + copytool.status + '.html'"></div>
        </td>
        <td class="actions-cell">
          <action-dropdown record="copytool"></action-dropdown>
        </td>
      </tr>
    </tbody>
  </table>

  <button ng-click="hsm.openAddModal()" ng-disabled="hsm.modalOpen" class="btn btn-default btn-sm">
    <i class="fa fa-plus-circle text-success"></i>Add More Copytools
  </button>
</div>
