<div class="action-dropdown">
  <button ng-if="ctrl.locks || ctrl.confirmOpen" disabled class="btn btn-primary btn-sm">Disabled</button>
  <div ng-if="!ctrl.locks && !ctrl.confirmOpen" class="btn-group" uib-dropdown>
    <button class="btn btn-primary btn-sm" uib-dropdown-toggle>
      Actions<i class="fa fa-caret-down"></i>
    </button>
    <ul class="uib-dropdown-menu" role="menu">
      <li class="dropdown-header" ng-repeat-start="record in ctrl.records track by record.label">
        {{ ::record.label }}
      </li>
      <li ng-class="{ 'end-of-group': action.last }" ng-repeat="action in record[actionsProperty] | groupActions track by action.verb">
        <a uib-tooltip-html="ctrl.actionDescriptionCache(action.long_description)"
           tooltip-placement="{{ ::tooltipPlacement }}"
           tooltip-append-to-body="true"
           ng-click="::ctrl.handleAction(record, action)">{{ ::action.verb }}</a>
      </li>
      <li ng-repeat-end class="divider"></li>
    </ul>
  </div>
</div>
