<span class="record-state">
  <span class="icon-wrap">
    <i class="fa activate-popover"
       ng-class="{'fa-exclamation-circle': ctrl.hasAlerts(), 'fa-check-circle': !ctrl.hasAlerts() }"
       tooltip-template="'iml/alert-indicator/assets/html/state-label.html'"
       tooltip-placement="right"></i>
    <iml-popover placement="bottom" title="Alerts"
                 on-toggle="ctrl.onToggle(state)" ng-if="ctrl.hasAlerts()">
      <ul>
        <li ng-repeat="alert in ctrl.alerts">{{alert}}</li>
      </ul>
    </iml-popover>
  </span>
  <ng-pluralize class="state-label" ng-if="ctrl.showLabel()" count="ctrl.alerts.length"
                when="{
    0: 'No Issues',
    1: '{{ ctrl.alerts[0] }}',
    'other': '{} Issues'}">
  </ng-pluralize>
</span>
