<div class="picker">
  <div class="btn-group btn-group-justified" role="group">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary" ng-model="duration.type" uib-btn-radio="'duration'">Set Duration</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary" ng-model="duration.type" uib-btn-radio="'range'">Set Range</button>
    </div>
  </div>

  <div ng-if="duration.type === 'duration'" class="duration-controls">
    <form name="durationForm" novalidate>
      <div class="form-group" ng-class="{'has-error': durationForm.size.$invalid, 'has-success': durationForm.size.$valid}">
        <div class="input-group">
          <input class="form-control duration-size" type="number" ng-model="duration.size" name="size" min="1" max="{{ duration.getCount(duration.unit) }}" required />
          <iml-tooltip class="error-tooltip" toggle="durationForm.size.$invalid" direction="bottom">
            <span ng-if="durationForm.size.$error.max || durationForm.size.$error.min">
              Duration must be between 1 and {{ duration.getCount(duration.unit) }} {{duration.unit}}.
            </span>
            <span ng-if="durationForm.size.$error.required">
              Duration is required.
            </span>
          </iml-tooltip>
          <div class="input-group-btn dropdown" uib-dropdown>
            <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
              {{duration.unit | capitalize}} <span class="caret"></span>
            </button>
            <input type="hidden" ng-model="duration.unit" name="unit" />
            <ul class="dropdown-menu pull-right" role="menu">
              <li ng-repeat="item in duration.units | filter: {unit: '!' + duration.unit}">
                <a ng-click="duration.setUnit(item.unit)">{{ ::item.unit | capitalize }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div ng-if="duration.type === 'range'" class="range-controls">
    <form name="rangeForm" novalidate>
      <div class="form-group" ng-class="{'has-error': rangeForm.start.$invalid, 'has-success': rangeForm.start.$valid}">
        <label class="sr-only">Start</label>
        <div class="input-group">
          <div class="input-group-addon">Start</div>
          <input class="form-control" type="datetime-local" name="start" ng-model="duration.startDate"
                 placeholder="yyyy-MM-ddTHH:mm" required />
          <iml-tooltip class="error-tooltip" toggle="rangeForm.start.$error.required" direction="bottom">
            Start is required.
          </iml-tooltip>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': rangeForm.end.$invalid, 'has-success': rangeForm.end.$valid}">
        <label class="sr-only">End</label>
        <div class="input-group">
          <div class="input-group-addon">End</div>
          <input class="form-control" type="datetime-local" name="end" ng-model="duration.endDate"
                 placeholder="yyyy-MM-ddTHH:mm" required />
          <iml-tooltip class="error-tooltip" toggle="rangeForm.end.$error.required" direction="bottom">
            End is required.
          </iml-tooltip>
        </div>
      </div>
    </form>
  </div>
</div>
