<form name="form" class="search" ng-submit="ctrl.submit()">
  <div class="input-group">
    <div class="status-indicator">
      <i ng-if="form.$valid" class="fa fa-check-circle"></i>
      <i ng-if="form.$invalid" class="fa fa-times-circle"></i>
    </div>
    <input name="query" autocomplete="off" type="search" class="form-control" validate-status-query ng-model="ctrl.query" ng-model-options="{ 'default': 500, blur: 0, allowInvalid: true }" />
    <iml-tooltip class="error-tooltip" toggle="form.$invalid" direction="bottom">
      <ul>
        <li ng-repeat="error in ctrl.parse(ctrl.query).errors">{{error}}</li>
      </ul>
    </iml-tooltip>
    <span class="input-group-btn">
      <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid"><i class="fa fa-search"></i>Search</button>
    </span>
  </div>
</form>

