<div class="read-write-heat-map">
  <h5>Read/Write Heat Map</h5>
  <div class="controls" ng-if="chart.configure === false">
    <button class="btn btn-xs btn-primary" ng-click="chart.onConfigure()">Configure <i class="fa fa-cog"></i></button>
    <a full-screen-btn class="btn btn-primary btn-xs"></a>
    <a class="drag btn btn-xs btn-default">Drag <i class="fa fa-arrows"></i></a>
  </div>
  <div class="configuration" ng-if="chart.configure === true">
    <div class="well well-lg">
      <form name="readWriteHeatMapForm">
        <duration-picker start-unit="{{ chart.unit }}" start-size="{{ chart.size }}"></duration-picker>
        <div class="form-group" >
          <label class="control-label">Select data to view</label>
          <select name="type" class="form-control" ng-model="chart.modelType"
                  ng-options="value as chart.toReadableType(value) for value in chart.TYPES"></select>
        </div>
        <button type="submit" ng-click="chart.onSubmit(readWriteHeatMapForm)" class="btn btn-success btn-block" ng-disabled="readWriteHeatMapForm.$invalid">Update</button>
        <button ng-click="chart.onCancel()" class="btn btn-cancel btn-block">Cancel</button>
      </form>
    </div>
  </div>
  <heat-map options="chart.options" stream="chart.stream"></heat-map>
</div>
