.configure-corosync {
  transition: height linear .1s;
  height: 292px;

  &.saving {
   height: 364px
  }

  @cell-height: 43px;


  differ {
    .make-xs-column(6);
    border-top: 1px solid @gray-lighter;
    min-height: @cell-height;
    line-height: @cell-height - 2;
  }

  input.form-control {
    width: 90%;
    display: inline-block;
  }

  .edit-btn {
    margin-top: 10px;
  }
}
