<div ng-if="ctrl.meta.total_count > 0">
  <table class="table">
    <thead>
      <tr>
        <th class="hidden-xs">Severity</th>
        <th class="hidden-xs">Type</th>
        <th>Begin</th>
        <th>End</th>
        <th>Message</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in ctrl.data track by row.resource_uri" ng-class="[row.severity, row.alert_type, {active: row.active}]">
        <td class="hidden-xs">
          <span>
            {{ ::row.severity }}
          </span>
        </td>
        <td class="hidden-xs">{{ row.record_type }}</td>
        <td>
          <a target="_self" route-to="log/around-{{ row.begin | date:'yyyy-MM-ddTHH:mm:ssZ' }}/">{{ row.begin | date:'yyyy-MM-dd HH:mm:ss' : 'UTC' }}</a>
        </td>
        <td>
          <a ng-if="!row.active" target="_self" route-to="log/around-{{ row.end | date:'yyyy-MM-ddTHH:mm:ssZ' }}/">{{ row.end | date:'yyyy-MM-dd HH:mm:ss' : 'UTC' }}</a>
        </td>
        <td>{{ row.message }}</td>
        <td>
          <deferred-action-dropdown restrict-to="{{ ::app.GROUPS.FS_ADMINS }}" ng-if="row.active && !ctrl.isCommand(row)" row="::row"></deferred-action-dropdown>
          <deferred-cmd-modal-btn resource-uri="::row.alert_item" ng-if="::ctrl.isCommand(row)"></deferred-cmd-modal-btn>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-center">
    <uib-pagination
      max-size="5"
      ng-model="ctrl.meta.current_page"
      total-items="ctrl.meta.total_count"
      items-per-page="ctrl.meta.limit"
      boundary-links="true"
      previous-text="‹" next-text="›" first-text="«" last-text="»"
      ng-change="::ctrl.pageChanged()"
    ></uib-pagination>
  </div>
</div>
<div class="well text-center no-records" ng-if="ctrl.meta.total_count === 0">
  <h1>No records found</h1>
</div>
